/* Dimensions Field */
.wp-custom-fields-dimensions-input {
    display: flex;
    input {
        max-width: 120px;
    }
    i {
        height: 28px;
        line-height: 30px;
        text-align: center;
    }
}