// main: ../wp-custom-fields.less

/* Icon Field */
.wp-custom-fields-icons {
    border: 1px solid @wp-lightborder;
    max-height: 240px;
    overflow: scroll;
}
.wp-custom-fields-icons-title {
    color: @wp-greyborder;
    font-size: 12px;
    margin: 0;
    padding: @grid-space/4 @grid-space/2 0 @grid-space/2;
}