/* Repeatable */
.divergent-repeatable-group {
    background-color: @white;
    border: 1px solid @light-grey;
    border-radius: @base-radius;
    margin-bottom: 10px;
    > h4 {
        border-bottom: 1px solid @light-grey;
        font-size: 1.2em;
        margin-bottom: 0;
        padding: 0 @grid-space 1.33em @grid-space;
    }
  
}

.divergent-repeatable-container {
    .button {
        float: right;
        margin: 0 0 0 5px;
        i {
            font-size: @wp-font-size;
            position: relative;
            top: 2px;
        }
    }     
}

.divergent-repeatable-fields {
    padding: @grid-space;
}

.divergent-repeatable-toggle {
    float: right;
    &:focus {
        box-shadow: none;
        outline: none;
    }
    i {
        position: relative;
        top: -2px;
    }
}

.divergent-repeatable-field {
    h5 {
        margin-bottom: 0.25em;
    }
    p {
        margin-top: 0;
    }
}