/* Typography Field */
.divergent-typography-fonts {
    background: #fff;
    border: 1px solid @wp-lightborder;
    max-height: 125px;
    max-width: 295px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.divergent-typography-font {
    float: none;
    height: auto;
    width: auto;
    label {
        height: auto; 
        img {
            border-bottom: 2px solid transparent;
        }
    }
    &.selected, label:hover, input:checked ~ label {
        img {
            border-bottom: 2px solid @wp-blue;
        }
    }
}

.divergent-typography-properties > * {
    margin-bottom: @grid-space/2;
}

.divergent-icon-list {
    overflow: hidden;
    margin: 1px 1px @grid-space/2 1px;
}

.divergent-typography-appearance.divergent-field-left {
    margin-right: 0;
}