// main: ../wp-custom-fields.less

/* Colorpicker */
.wp-custom-fields-colorpicker-wrapper {
    margin: 3px 0;   
}

.wp-picker-open + .wp-picker-input-wrap {
    display: flex;
    label {
        margin: 0;
    }
} 