// main: ../wp-custom-fields.less

/* Repeatable */
.wpcf-repeatable-group {
    border: 1px solid @wp-lightborder;
    border-bottom: none;
    border-radius: @base-radius;
    min-height: @grid-space*1.5;
    position: relative;
    &:last-of-type {
        border-bottom: 1px solid @wp-lightborder;
        margin-bottom: 10px;
    }   
    .wpcf-repeatable-fields.hidden {
        display: none;
    }
    &.ui-sortable-handle:hover {
        cursor: grab;
    }
    &.ui-sortable-helper:hover {
        cursor: grabbing;
    }
}


.wpcf-repeatable-fields {
    padding: @grid-space*0.5 @grid-space*1.5 @grid-space*0.25 @grid-space*1.5;
    .wpcf-field {
        padding: 0;
    }    
}

.wpcf-repeatable-toggle, .wpcf-repeatable-remove-group, .wpcf-repeatable-drag  {
    display: block;
    position: absolute;
    &:focus {
        box-shadow: none;
        outline: none;
    }
}

.wpcf-repeatable-drag  {
    color: @wp-greyborder;
    left: @grid-space*0.25;
    margin-top: -12px;
    top: 50%;
    &:hover {
        cursor: grab;
    }
    .ui-sortable-helper & {
        &:hover {
            cursor: grabbing;
        }
    }
}

.wpcf-repeatable-toggle {
    height: @grid-space;
    left: -@grid-space;
    top: 3px;
    width: @grid-space;
}

.wpcf-repeatable-remove-group {
    background-color: @wp-red;
    border-radius: 3px;
    color: #fff;
    height: @grid-space;;
    right: 6px;
    top: 6px;
    width: @grid-space;
    &:hover {
        color: #fff;
    }
}

.wpcf-repeatable-field {
    h5 {
        margin: 0 0 0.25em 0;
    }
    p {
        margin-top: 0;
    }
}

.wpcf-highlight {
    border: 1px dashed @wp-btnborder;
    height: @grid-space * 2;
    margin-bottom: @grid-space*0.333333333;
}

.wpcf-repeatable-buttons {
    text-align: right;
    .button {
        display: inline-block;
        margin: 0 0 0 5px;
        min-width: 80px;
        text-align: center;
        vertical-align: top;
    } 
    i {
        line-height: 28px;
    }
    .dashicons-minus {
        color: @wp-red;
    }    
}