// main: ../wp-custom-fields.less

/* Typography Field */
.wpcf-typography-fonts ~ .select2-container {
    max-width: 100%;
    min-width: 100%;
    .wpcf-framework & {
        min-width: 314px;
    }
    .select2-selection--single {
        height: @grid-space * 2;
        .select2-selection__rendered {
            line-height: @grid-space*1.5;
            padding: 4px 20px 4px 4px;
        }
        .select2-selection__arrow {
            top: 10px;
        }
    }
}

// Select2 container must be visible in WordPress Customizer
.select2-container.select2-container--open {
    z-index: 999999;
}

.wpcf-typography-weight {
    display: flex;
    select {
        flex-grow: 1;
    }
}

.wpcf-typography-properties {
    margin-top: @grid-space*0.5;
    &.wpcf-field-left {
        margin-right: 2px;
    }   
    > * {
        margin-bottom: @grid-space*0.5;
    }
    .customize-control & {
        float: left;
        margin-right: 2px;
    }
}

.wpcf-typography-appearance {
     margin-top: @grid-space*0.5;
    .wpcf-field-left {
        margin-right: 0;
    }
    + label {
        clear: both;
        display: block;
    }
    .customize-control & {
        ul {
            display: inline-block;
        }    
    }    
}

.customize-control-typography {
    margin-bottom: @grid-space;
}